* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2224;
}

h1 {
    color: white;
    font-size: 34px;
    line-height: 100px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
}

.imgbox {
    width: 33%;
    height: 300px;
    display: inline-block;
    cursor: pointer;
}

.imgbox:hover {
    /* opacity: 0.5; */
    transform: scale(1.04);
    transition: all 0.4s ease;
}

h2 {
    position: relative;
    top: 85%;
    left: 4%;
    color: white;
    float: left;
    font-weight: 200;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-family: 'Moo Lah Lah', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.before-click {
    display: none;
    /* width: 100%; */
}

img.image {
    width: 100%;
}

#check1:checked~#img1,
#check2:checked~#img2,
#check3:checked~#img3,
#check4:checked~#img4,
#check5:checked~#img5,
#check6:checked~#img6,
#check7:checked~#img7,
#check8:checked~#img8,
#check9:checked~#img9,
#check10:checked~#img10,
#check11:checked~#img11,
#check12:checked~#img12 {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    transition: all .4s ease;
}

#check1:checked~#img1>label,
#check2:checked~#img2>label,
#check3:checked~#img3>label,
#check4:checked~#img4>label,
#check5:checked~#img5>label,
#check6:checked~#img6>label,
#check7:checked~#img7>label,
#check8:checked~#img8>label,
#check9:checked~#img9>label,
#check10:checked~#img10>label,
#check11:checked~#img11>label,
#check12:checked~#img12>label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    transition: all .4s ease;
}

#check1:checked~#img1>label>div,
#check2:checked~#img2>label>div,
#check3:checked~#img3>label>div,
#check4:checked~#img4>label>div,
#check5:checked~#img5>label>div,
#check6:checked~#img6>label>div,
#check7:checked~#img7>label>div,
#check8:checked~#img8>label>div,
#check9:checked~#img9>label>div,
#check10:checked~#img10>label>div,
#check11:checked~#img11>label>div,
#check12:checked~#img12>label>div {
    position: relative;
    width: 70%;
    height: auto;
    transition: all .4s ease;
}

h2.preview {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-weight: 300;
    font-size: 25px;
    position: absolute;
    top: 72%;
    left: 5%;
    color: white;
}

label>div>p {
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: white;
    left: 5%;
    top: 80%;
    width: 85%;
}

footer {
    display: flex;
    align-items: center;
    padding: 0px 23px;
    bottom: 0px;
    background-color: #1f2224;
    color: white;
    font-weight: 200;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    width: 100%;
}

#right {
    position: absolute;
    right: 5%;
}

input {
    display: none;
}

#box1 {
    background: url(./assets/images/01.jpg) no-repeat center center/cover;
}

#box2 {
    background: url(./assets/images/02.jpg) no-repeat center center/cover;
}

#box3 {
    background: url(./assets/images/03.jpg) no-repeat center center/cover;
}

#box4 {
    background: url(./assets/images/04.jpg) no-repeat center center/cover;
}

#box5 {
    background: url(./assets/images/05.jpg) no-repeat center center/cover;
}

#box6 {
    background: url(./assets/images/06.jpg) no-repeat center center/cover;
}

#box7 {
    background: url(./assets/images/07.jpg) no-repeat center center/cover;
}

#box8 {
    background: url(./assets/images/08.jpg) no-repeat center center/cover;
}

#box9 {
    background: url(./assets/images/09.jpg) no-repeat center center/cover;
}

#box10 {
    background: url(./assets/images/10.jpg) no-repeat center center/cover;
}

#box11 {
    background: url(./assets/images/11.jpg) no-repeat center center/cover;
}

#box12 {
    background: url(./assets/images/12.jpg) no-repeat center center/cover;
}


@media (max-width: 795px) {
    .imgbox {
        width: 49.5%;
    }

    h1 {
        font-size: 20px;
    }

    h2.preview{
        font-size: 18px;
    }

    label>div>p {
        font-size: 13px;
    }

    #check1:checked~#img1>label>div,
    #check2:checked~#img2>label>div,
    #check3:checked~#img3>label>div,
    #check4:checked~#img4>label>div,
    #check5:checked~#img5>label>div,
    #check6:checked~#img6>label>div,
    #check7:checked~#img7>label>div,
    #check8:checked~#img8>label>div,
    #check9:checked~#img9>label>div,
    #check10:checked~#img10>label>div,
    #check11:checked~#img11>label>div,
    #check12:checked~#img12>label>div {
        width: 80%;
    }
}

@media (max-width: 496px) {
    .imgbox {
        width: 49.3%;

    }

    h1 {
        font-size: 11px;
        line-height: 45px;
        width: 100%;
        padding-left: 23px;
    }

    h2 {
        font-size: 16px;
    }

    h2.preview{
        font-size: 14px;
    }

    label>div>p {
        font-size: 10px;
        width: 80%;
    }

    #check1:checked~#img1>label,
    #check2:checked~#img2>label,
    #check3:checked~#img3>label,
    #check4:checked~#img4>label,
    #check5:checked~#img5>label,
    #check6:checked~#img6>label,
    #check7:checked~#img7>label,
    #check8:checked~#img8>label,
    #check9:checked~#img9>label,
    #check10:checked~#img10>label,
    #check11:checked~#img11>label,
    #check12:checked~#img12>label {
        backdrop-filter: blur(8px);
    }

    #check1:checked~#img1>label>div,
    #check2:checked~#img2>label>div,
    #check3:checked~#img3>label>div,
    #check4:checked~#img4>label>div,
    #check5:checked~#img5>label>div,
    #check6:checked~#img6>label>div,
    #check7:checked~#img7>label>div,
    #check8:checked~#img8>label>div,
    #check9:checked~#img9>label>div,
    #check10:checked~#img10>label>div,
    #check11:checked~#img11>label>div,
    #check12:checked~#img12>label>div {
        width: 100%;
    }

}